:root {
    --color-primary: #0C1820;
    --color-secondary: #172421;
    --color-tertiary: #4A3120;
    --color-tertiary-light: #6C3716;
    --color-white: #A5A294;



    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #000000c5;
    
    h1 {
        letter-spacing: .6rem;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: white
    }

    
}
