.Container {
    margin: 5rem 2rem;
}

.Container_header {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.section_characters{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10rem;
    margin-left: 15%;
}

