.Container {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    align-items: center;
}

.Container_navigation > ul {
    display: flex;
    
    align-items: center;
    gap: 2.5rem;
    letter-spacing: .3rem;
    font-size: 1.6rem;
}

.Container_navigation > ul > li{
    position: relative;
    display: flex;
}

.Container_navigation > ul > li::after {
    content: "";
    width: 0%;
    height: .1rem;
    background-color: white;
    position: absolute;
    bottom: 0;
    transition: .4s ease;
}

.Container_navigation > ul > li:hover::after{
    width: 100%
}